* {
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.titel {
    text-align: center;
}

.titel-1 {
    font-size: 50px;
    margin: 25px 0 50px;
}

.titel-1:hover {
    color: blue;
}

.titel-1::before {
    content: 'Y';
    width: 50px;
    height: 50px;
    background-color: blue;
}

.titel-1::after {
    content: 'Y';
    width: 50px;
    eight: 50px;
    background-color: blue;
}

.titel-2 {
    margin-top: 100px;
}

.text-1 {
    font-size: 20px;
    background-color: #ccc;
}   

/* .text-1:hover {
    background-color: #000;
    color: aliceblue;
    padding-bottom: 50px;
} */

.text-2 {
    font-size: 18px;
    background-color: #ccc;
}

.text-3 {
    font-style: italic;
}

.text-4 {
    text-align: right;
    font-size: 14px;
}


